.dashboard {
    background-color: #999999;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    height: 80%;
    width: 70%;
    display: flex;
    justify-content: center;
    flex-flow: column;
    margin: 0 auto;
    padding: 0 5%;
}